body {
    font: 15px sans-serif;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

svg {
    background-color: white;
    opacity: 0.8;

}
.title{
    font-size: 30px;
}

.label {
    font-size: 20px;
    text-align: center;
}

.labels{
    font-size: 10px;
}

.graph {
    text-align: center;
    margin-top: 100px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    pointer-events: none;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    background-color: black;
    color: white;
}